.auth.theme-one .auto-form-wrapper {
  background: #fff;
  border-radius: 0;
  -webkit-box-shadow: 0;
  padding: 0;
  box-shadow: 0;
}

.tab-solid-success .nav-link.active,
.btn-success.submit-btn,
.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link {
  background: #2dc9eb;
  background-image: linear-gradient(112deg, #2dc9eb, #14d2b8);
  border-color: #2dc9eb;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #14d2b8;
}

.btn-danger.submit-btn {
  background: #f52d91;
  background-image: linear-gradient(112deg, #f52d91, #f32436);
  border-color: #f52d91;
}

.tab-solid-success .nav-link,
.btn-success.submit-btn,
.btn-danger.submit-btn {
  padding: 14px 20px !important;
  border-radius: 5px;
}

.submit-btn {
  cursor: pointer !important;
}

.modal-close-btn {
  float: right;
  margin-top: -20px;
  margin-left: -30px;
  position: relative;
  z-index: 9999;
  color: #f32436;
  cursor: pointer;
}

.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link,
.pagination .page-item .page-link{
  padding: 12px 20px !important;
}

/* Body */

.orders .card,
.settings .card,
.dahsboard .card,
.inventory .card,
.backup .card,
.barcode .card,
.reports .card   {
  box-shadow: 0 10px 20px 0 rgba(90,113,208,.11) !important;
}

/* Data Tables */

div.dataTables_wrapper div.dataTables_length label {
  display: none !important;
}

div.dataTables_wrapper div.dataTables_filter {
  display: none !important;
}

.pagination .paginate_button.page-item.previous a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Settings */

.sub-add,
.sub-minus {
  cursor: pointer;
}

.sub-add:hover {
  color: #1C7CC5 !important;
}

.sub-minus:hover {
  color: #FF627D !important;
}

/* Table */
.table td {
  padding: 7px 10px;
}

.btn-edit,
.item-edit,
.in-edit,
.cancel-edit,
.update-edit {
  cursor: pointer;
}

.btn-edit:hover,
.item-edit:hover,
.in-edit:hover,
.update-edit:hover {
  color: #14d2b8 !important;
}

.in-edit {
  text-align: center;
}

.cancel-edit:hover {
  color: #f32436 !important;
}

/* Modal*/

.modal .modal-dialog .modal-content {
  background: transparent !important;
}

.modal-content {
  border: 0px !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single,
.form-control:disabled,
.form-control:read-only {
  background-color: #ffffff;
  cursor: not-allowed;
}

@media (min-width: 576px)  {
  .modal-dialog {
    max-width: 75vw; 
  }
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(112deg, #2dc9eb, #14d2b8);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(112deg, #33a1b9, #3bafa0);
}

